body {
    margin-top: 100px;
}

.list-group {
    padding: 0;
}

.list-group-item {
    border: 1px solid black; 
    list-style-type: none;
    padding: 10px 5px;
    position: relative;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    border-radius: 0; 
}

h2 {
    text-align: center;
}

.form-control {
    border: none;
    width: 100%;
    border-radius: 0; 
}

.close {
    color: red;
    cursor: pointer;
    display: none; 
    margin-left: 10px; 
}

ul li:hover .close {
    display: inline; 
}


.leaf-1{
    width: auto;
    z-index: -1;
}

.leaf-2{
    width: auto;
    z-index: -2;
}

.leaf-3{
    width: auto;
    z-index: -3;
}
